
.landing {
  background-color: #1C0A1E;
}

.logo {
  padding: 0;
  margin: 0;
  width: auto;
  padding: 1rem;
  height: 7rem;
  left: 0;
}

.banner {
  position: relative;
  text-align: center;
}

.banner-img {
  width: 100%;
  height: auto;
}

.hero-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  font-size: 5rem;
  color: #f50057;
  white-space: nowrap;
  overflow: hidden;
}

.selling-points {
  color: #D5F7F0;
  text-align: center;
}

.icon {
  font-size: 6rem;
  color: #f50057;
}

.point {
  display: inline-block;
  width: 30%;
  padding: 5rem;
}
