@import url('https://fonts.googleapis.com/css?family=Fira+Sans');

* {
  font-family: 'Fira Sans', Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

/* Keyframes */

@keyframes slide {
  0% {
    transform: translateY(150%);
  }
  100% {
    transform: translateY(0);
  }
}

/* Header */

nav {
  display: flex;
  margin-right: 3rem;
  padding-top: 2rem;
  height: 100%;
}

nav a {
  color: #D5F7F0;
  line-height: 2.7rem;
  font-size:1.9rem;
  font-weight: bold;
  margin-right: 2rem;
}

nav a:hover {
  /* color: #f50057; */
}

body {
  background: #212121;
}

.App-header {
  height: 9rem;
  background: #1C0A1E;
}

@media screen and (max-width: 1650px) {

  .album {
    margin-bottom: 10rem;
    width: 100%;
    overflow: auto;
    white-space: normal;
    text-align: center;
  }

  .song-list-container {
    display: block;
    width: 100%;
    padding: 0;
    height: auto;
  }

  .player-bar {
    animation: 1s ease-out 0s 1 slide;
    height: 9rem;
  }

  .player-icon {
    margin: 0 1rem;
  }

  .seek-bar {
    width: 16rem;
  }

  #album-cover-art {
    padding: 1rem 0;
    width: 100%;
    height: auto;
  }

  #album-info {
    padding: 1rem 0;
    margin: auto;
  }

  #song-list {
    width: 100%;
  }

}

@media screen and (max-width: 800px) {
  #volume-control {
    display: none;
  }

  .banner-img {
    height: 320px;
    object-fit: cover;
  }

  .hero-title {
    font-size: 5rem;
  }

  .point {
    min-width: 300px;
    padding: 5rem 0 0 0;
  }

}

@media screen and (max-width: 440px) {
  .library {
    max-width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
  }

  .album-link {
    padding: 0;
    margin: 0.5rem auto;
  }

  .album-link img {
    width: 100vw;
  }
}
